@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;400&display=swap');

*{

    font-family:Arial, Helvetica, sans-serif;
    --black:#202124; 
    --grey:#5f6368;
    --white:#e8eaed;
    --pure-white:#f8f9fa;
    --text-black:#3c4043;
    --red:#d93025;
    --blue:#357ae8;

}

.nav-bar{

    display:flex;
    flex-direction: row;
    justify-content: right;
    gap:1.5rem;
    margin:1rem;

}

#nav-items,a{

    text-decoration:none;
    list-style: none;
    font-size:1rem;
    font-family:Poppins;
    color:var(--black);

}

.google-logo{
    
    
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items:flex-end;
    height:290px;

}

#logo{

    width: 272px; 
    height:92px;

    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: center bottom;
    width: auto;

}

#logo img{

    height:92px;
    aspect-ratio: auto 272/92;
    width:272px;
    overflow-clip-margin: content-box;
    overflow:clip;

}

.search-box{

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:20px;

}

.search-bar{

    border:solid 1px var(--grey);
    display:flex;
    justify-content:center;
    height:47px;
    width:584px;
    border-radius: 24px;

}

#search-svg{

    margin:8px 0px 8px 0px;

}

#search{

    width:500px;
    height:27px;
    margin:8px 0px 8px 4px;
    border:none;
    line-height:22px;
    font-size:20px;
    outline:none;

}

.buttons{

    padding:18px 0px 0px 0px;
    display:flex;
    gap:8px;

}

.buttons input[type=submit]{

    height:36px;
    min-width:127px;
    text-align:center;
    cursor:pointer;
    user-select:none;
    border-radius:4px;
    font-size:16px;
    padding:0 16px;
    margin:11px 4px;
    line-height:36px;
    background-color:var(--pure-white);
    border:1px solid var(--pure-white);
    color:var(--text-black);

}

.btn2{

    width:143px;

}

.buttons input[type=submit]:hover{

    box-shadow:0 1px 3px rgba(23,23,23,0.24);
    background-color:var(--grey);
    border:1px solid var(--grey);
    color:var(--white);

}

#advance-logo{

    width:104px;
    padding:0 20px;

}

.title{

    color:var(--red);
    font-size:30px;
    margin:25px 35px;
    font-style:inherit;
    font-weight: inherit;
    vertical-align: baseline;
    text-decoration: none;

}

.line{

    border-bottom: 1px solid var(--white);

}

.sub-title{

    margin:25px 35px;
    font-size:25px;
    color:var(--text-black);


}

.search-section{

    display:flex;
    align-items: center;

}

.labels{

    margin:25px 35px;
    font-size:20px;
    color:var(--text-black);


}

#lab{

    display: inline-block;
    min-width: 167px;
    height: 42px;
    color: #222;
    line-height: 16px;
    vertical-align: middle;

}

.label-0{

    display:flex;
    align-items:baseline;
    justify-content: space-between;

}


.label-0 input[type=text]{

    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 18px;
    height: 25px;
    width: 400px;
    padding: 1px 8px;
    margin:0px 0px 0px 10px;
    outline-color: var(--blue);

}

.adv-btn{

    display:flex;
    justify-content:left;
    margin:0 500px;

}

.adv-btn input{

    box-shadow:none;
    background-color:#4d90fe;;
    border:1px solid var(--blue);
    color:white;
    margin:10px 0;
    padding:0 12px;
    width:180px;
    height:45px;
    font-size:18px;
    font-weight:bold;


}